  .search-result li:hover {
    background-color: #607D8B;
  }
  
  .search-result li a {
    padding-top: 8px;
    padding-bottom: 4px;
    color: black;
    display: block;
    text-decoration: none;
    border-style: solid ;
    border-top: none ;
    border-left: none;
    border-right: none;
    border-width: 1px;
    border-color: rgba(0, 0,0,0.3);
    }
  
  .search-result li a:hover {
    color: white;
  }
  .search-result li a:active {
    color: white;
  }
  #search-box {
    width: 220px;
    height: 30px;
    box-shadow: 2px 2px 14px 1px rgba(0, 0,0,0.3);

  }
  #search-box:hover {
    
    border-color: rgb(14, 51, 155);
    border-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: 1s;
  }
  #search-box:focus {
    
    border-color: rgba(155, 14, 14, 0.658);
    border-width: 3px;
    border-top: none;
    border-left: none;
    border-right: none;
    transition: 1s;
  }

h4{
  color: midnightblue;
  font-family: Lato;
  font-size: 20pt;
  width: 260px;
}
  
  ul.search-result {
    background-color: rgba(50, 163, 94, 0.4);
    z-index: 999;
    display: block;
    position: absolute;
    top: 270px;
    margin-top: 0;
    padding-left: 0;
    width: 200px;

  }